.typing-preview {
		ol {
				list-style-type: none;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
				align-content: flex-start;
				column-gap: 10px;

				li {
						flex-basis: 49%;
						flex-shrink: 0.1;
						flex-grow: 2;
						margin-bottom: 10px;

						span.typing-preview__user {
								font-weight: 600;
								letter-spacing: .1rem;
								text-shadow: -1px -1px 0 #000,
								1px -1px 0 #000,
								-1px 1px 0 #000,
								1px 1px 0 #000;
						}

						span.typing-preview__content {
								display: block;
								min-height: 100px;
								border: 1px solid #000000;
								padding: 10px;
								background-color: #323235;
								color: whitesmoke;
						}
				}
		}
}